<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap staff Template">
	<meta name="keywords"
		  content="staff, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap staff Template">
	<meta name="robots" content="noindex, nofollow">

	<title th:text="${title}"></title>
	<base href="/">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap">
	<!-- Moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/staff/assets/img/logo4.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/staff/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/staff/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/staff/assets/css/line-awesome.min.css">

	<!-- Chart CSS -->
	<link rel="stylesheet" href="/staff/assets/plugins/morris/morris.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/staff/assets/css/style.css">

	<!-- Datatable CSS -->
	<link rel="stylesheet" href="/staff/assets/css/dataTables.bootstrap4.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/staff/assets/css/select2.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="/staff/assets/css/bootstrap-datetimepicker.min.css">

	<!-- jQuery -->
	<script src="/staff/assets/js/jquery-3.5.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/staff/assets/js/popper.min.js"></script>
	<script src="/staff/assets/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/staff/assets/js/jquery.slimscroll.min.js"></script>

	<!-- Chart JS -->
	<script src="/staff/assets/plugins/morris/morris.min.js"></script>
	<script src="/staff/assets/plugins/raphael/raphael.min.js"></script>
	<script src="/staff/assets/js/chart.js"></script>

	<!-- Select2 JS -->
	<script src="/staff/assets/js/select2.min.js"></script>

	<!-- Datetimepicker JS -->
	<script src="/staff/assets/js/moment.min.js"></script>
	<script src="/staff/assets/js/bootstrap-datetimepicker.min.js"></script>



	<!-- Custom JS -->
	<script src="/staff/assets/js/app.js"></script>

	<!-- AngularJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
			integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Angular-route -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"
			integrity="sha512-y1qD3hz/IAf8W4+/UMLZ+CN6LIoUGi7srWJ3r1R17Hid8x0yXe+1B5ZelkaL1Mjzedzu0Cg3HBvDG02SAgSzBw=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Datatable JS -->
	<script src="/staff/assets/js/jquery.dataTables.min.js"></script>
	<script src="/staff/assets/js/dataTables.bootstrap4.min.js"></script>
	<!-- AngularJS config -->
	<script src="/staff/config/app.js"></script>
	<script src="/staff/config/routes.js"></script>

	<!-- AngularJS Service -->

	<!-- AngularJS Controller -->
	<script src="/staff/controllers/ProductController.js"></script>
	<script src="/staff/controllers/CategoryController.js"></script>
	<script src="/staff/controllers/SportTypeController.js"></script>
	<script src="/staff/controllers/EventController.js"></script>
	<script src="/staff/controllers/TeamController.js"></script>
	<script src="/staff/controllers/FieldController.js"></script>
	<script src="/staff/controllers/VoucherController.js"></script>
	<script src="/staff/controllers/HeaderController.js"></script>
	<script src="/staff/controllers/TeamDetailController.js"></script>
	<script src="/staff/controllers/AccountController.js"></script>
	<script src="/staff/controllers/DashboardController.js"></script>
	<script src="/staff/controllers/BookingController.js"></script>
	<script src="/staff/controllers/OrderController.js"></script>
	<script src="/staff/controllers/ContactController.js"></script>
	<script src="/staff/controllers/ReportBookingController.js"></script>
	<script src="/staff/controllers/ReportOrderController.js"></script>
</head>

<body>
<!-- Header -->
<div th:replace="/staff/templates/header"></div>
<!-- /Header -->

<!-- Sidebar -->
<div th:replace="/staff/templates/sidebar"></div>

<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Body  -->
	<div class="page-wrapper">

		<!-- Page Content -->
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">
							 <strong th:text="'Chào ' + ${session.username}"> </strong>!
						</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item active">Dashboard</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-md-6">
					<div class="card dash-widget">
						<div class="card-body">
							<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
							<div class="dash-widget-info">
								<h3 th:text="${totalBookingsToday}">0</h3>
								<span>Số lượng đặt sân trong ngày</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card dash-widget">
						<div class="card-body">
							<span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
							<div class="dash-widget-info">
								<h3 th:text="${#numbers.formatInteger(totalRevenueToday, 0, 'COMMA')} + ' VND'">0</h3>
								<span>Số tiền thu được trong ngày</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>Lịch đặt sân hôm nay</h4>
						</div>
						<div class="card-body">
							<table class="table table-bordered text-center">
								<thead>
								<tr>
									<th>Ca / Sân</th>
									<th th:each="entry : ${schedule.values().iterator().next()}" th:text="${entry.fieldName}"></th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="shiftEntry : ${schedule}">
									<td th:text="${shiftEntry.key}"></td>
									<td th:each="slot : ${shiftEntry.value}"
										th:text="${slot.bookingStatus}"
										th:class="${slot.bookingStatus == 'Đã đặt' ? 'bg-danger text-white' : 'bg-success text-white'}">
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
</body>

</html>